In [1]:
import pandas as pd
import numpy as np
import turicreate as tr

## Read data

In [2]:
df = pd.read_csv("jupyter_folder/beer_reviews_main.csv")

In [3]:
df.head()

,Unnamed: 0,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid,main_style
0,0,10325,Vecchio Birraio,1234817823,1.5,2.0,2.5,stcules,Hefeweizen,1.5,1.5,Sausa Weizen,5.0,47986,Wheat Beers
1,1,10325,Vecchio Birraio,1235915097,3.0,2.5,3.0,stcules,English Strong Ale,3.0,3.0,Red Moon,6.2,48213,Strong Ales
2,2,10325,Vecchio Birraio,1235916604,3.0,2.5,3.0,stcules,Foreign / Export Stout,3.0,3.0,Black Horse Black Beer,6.5,48215,Stouts
3,3,10325,Vecchio Birraio,1234725145,3.0,3.0,3.5,stcules,German Pilsener,2.5,3.0,Sausa Pils,5.0,47969,Pilseners and Pale Lagers
4,4,1075,Caldera Brewing Company,1293735206,4.0,4.5,4.0,johnmichaelsen,American Double / Imperial IPA,4.0,4.5,Cauldron DIPA,7.7,64883,India Pale Ales

## Clean data

In [4]:
# Dataframe to use in model
df_beers = df[['review_profilename', 'beer_beerid', 'review_overall', 'main_style']]

In [5]:
# Check for null values
df_beers.isnull().sum()

review_profilename    348
beer_beerid             0
review_overall          0
main_style              0
dtype: int64

In [6]:
# Drop null rows
df_beers = df_beers.dropna()

In [7]:
# Recheck for null values
df_beers.isnull().sum()

review_profilename    0
beer_beerid           0
review_overall        0
main_style            0
dtype: int64

In [8]:
# Preview to verify
df_beers.head()

  review_profilename  beer_beerid  review_overall                 main_style
0            stcules        47986             1.5                Wheat Beers
1            stcules        48213             3.0                Strong Ales
2            stcules        48215             3.0                     Stouts
3            stcules        47969             3.0  Pilseners and Pale Lagers
4     johnmichaelsen        64883             4.0            India Pale Ales

## Create identifying dataframes

In [9]:
# Identify unique beer names by breweries
beeers = df.groupby(['beer_name', 'brewery_name'])

In [10]:
# Preview
beeers.last().head()

,,Unnamed: 0,brewery_id,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_abv,beer_beerid,main_style
beer_name,brewery_name,,,,,,,,,,,,,
! (Old Ale),Närke Kulturbryggeri AB,963409,10902,1271637765,4.0,4.5,4.0,tpd975,Old Ale,4.0,4.5,8.2,57645,Strong Ales
"""100""",The Covey Restaurant & Brewery,1215598,13338,1240078389,4.0,3.5,4.0,hiikeeba,Belgian Dark Ale,4.0,4.5,10.0,49236,Dark Ales
"""100"" Pale Ale",Aviator Brewing Company,432226,18635,1245965069,4.0,4.0,3.5,atsprings,American IPA,4.0,4.0,6.6,50696,India Pale Ales
"""12"" Belgian Golden Strong Ale",Flossmoor Station Restaurant & Brewery,786774,612,1218928899,4.0,3.5,4.5,Stonebreaker,Belgian Strong Pale Ale,5.0,4.5,9.0,44353,Strong Ales
"""33"" Export",Baltika-Baku,327910,13640,1145713783,3.0,2.5,3.0,Globetrotter,Dortmunder / Export Lager,3.0,2.5,4.8,30080,Pilseners and Pale Lagers

In [11]:
# Create dataframe using last values
beerID_df = beeers.last()
beerID_df = beerID_df.reset_index()
beerID_df.head()

,beer_name,brewery_name,Unnamed: 0,brewery_id,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_abv,beer_beerid,main_style
0,! (Old Ale),Närke Kulturbryggeri AB,963409,10902,1271637765,4.0,4.5,4.0,tpd975,Old Ale,4.0,4.5,8.2,57645,Strong Ales
1,"""100""",The Covey Restaurant & Brewery,1215598,13338,1240078389,4.0,3.5,4.0,hiikeeba,Belgian Dark Ale,4.0,4.5,10.0,49236,Dark Ales
2,"""100"" Pale Ale",Aviator Brewing Company,432226,18635,1245965069,4.0,4.0,3.5,atsprings,American IPA,4.0,4.0,6.6,50696,India Pale Ales
3,"""12"" Belgian Golden Strong Ale",Flossmoor Station Restaurant & Brewery,786774,612,1218928899,4.0,3.5,4.5,Stonebreaker,Belgian Strong Pale Ale,5.0,4.5,9.0,44353,Strong Ales
4,"""33"" Export",Baltika-Baku,327910,13640,1145713783,3.0,2.5,3.0,Globetrotter,Dortmunder / Export Lager,3.0,2.5,4.8,30080,Pilseners and Pale Lagers

In [12]:
# Create average value dataframe
beer_Avg_df = beeers.mean()

In [13]:
# Reset index
beer_Avg_df = beer_Avg_df.reset_index()
beer_Avg_df = beer_Avg_df.drop(['Unnamed: 0','brewery_id','review_time'], axis=1)
beer_Avg_df.head()

,beer_name,brewery_name,review_overall,review_aroma,review_appearance,review_palate,review_taste,beer_abv,beer_beerid
0,! (Old Ale),Närke Kulturbryggeri AB,4.0,4.5,4.00,4.000000,4.5,8.2,57645.0
1,"""100""",The Covey Restaurant & Brewery,4.0,4.0,4.00,4.000000,4.4,10.0,49236.0
2,"""100"" Pale Ale",Aviator Brewing Company,4.0,4.0,3.50,4.000000,4.0,6.6,50696.0
3,"""12"" Belgian Golden Strong Ale",Flossmoor Station Restaurant & Brewery,4.0,3.5,4.25,4.750000,4.5,9.0,44353.0
4,"""33"" Export",Baltika-Baku,3.0,3.0,3.00,3.166667,3.0,4.8,30080.0

In [14]:
# Remove excess columns form ID df
beerID_df = beerID_df[['beer_beerid', 'beer_name', 'brewery_name', 'main_style', 'beer_style']]

In [15]:
# Preview to verify
beerID_df.head()

,beer_beerid,beer_name,brewery_name,main_style,beer_style
0,57645,! (Old Ale),Närke Kulturbryggeri AB,Strong Ales,Old Ale
1,49236,"""100""",The Covey Restaurant & Brewery,Dark Ales,Belgian Dark Ale
2,50696,"""100"" Pale Ale",Aviator Brewing Company,India Pale Ales,American IPA
3,44353,"""12"" Belgian Golden Strong Ale",Flossmoor Station Restaurant & Brewery,Strong Ales,Belgian Strong Pale Ale
4,30080,"""33"" Export",Baltika-Baku,Pilseners and Pale Lagers,Dortmunder / Export Lager

In [16]:
# Check for nulll values
beerID_df.isnull().sum()

beer_beerid     0
beer_name       0
brewery_name    0
main_style      0
beer_style      0
dtype: int64

## Create identifying functions

In [17]:
# Finds beer style and id from beer name and brewery
def findBeerID_Style(beerName, breweryName):
    name_df = beerID_df[beerID_df['beer_name'] == beerName]
    beer_style = name_df['beer_style'][name_df['brewery_name'] == breweryName].iloc[0]
    beer_id = name_df['beer_beerid'][name_df['brewery_name'] == breweryName].iloc[0]
    return beer_style, beer_id

In [18]:
# Finds beer information for each beerid in df
def findBeers(dataframe):
    beer_ids = dataframe['beer_beerid']
    new_df = pd.DataFrame(beer_Avg_df[beer_Avg_df['beer_beerid'] == beer_ids[0]])
    for i in beer_ids:
        avg_df = beer_Avg_df[beer_Avg_df['beer_beerid'] == i]
        new_df = new_df.append(avg_df)
    dataframe = dataframe.merge(new_df, how='left', on='beer_beerid')
    dataframe = dataframe.drop(dataframe.index[0])
    dataframe = dataframe.reset_index(drop=True)
    return dataframe

### Check functions

In [19]:
findBeerID_Style('! (Old Ale)', 'Närke Kulturbryggeri AB')

('Old Ale', 57645)

In [20]:
#  Create dataframe
example = findBeerID_Style('! (Old Ale)', 'Närke Kulturbryggeri AB')
test_df = pd.DataFrame({'beer_beerid': [example[1]], 'beer_style': [example[0]]})
test_df

   beer_beerid beer_style
0        57645    Old Ale

In [21]:
findBeers(test_df)

,beer_beerid,beer_style,beer_name,brewery_name,review_overall,review_aroma,review_appearance,review_palate,review_taste,beer_abv
0,57645,Old Ale,! (Old Ale),Närke Kulturbryggeri AB,4.0,4.5,4.0,4.0,4.5,8.2

# Create models

### Format data

In [22]:
df_beers.dtypes

review_profilename     object
beer_beerid             int64
review_overall        float64
main_style             object
dtype: object

In [23]:
df_beers['beer_beerid'] = [str(x) for x in df_beers['beer_beerid']]
df_beers.dtypes

review_profilename     object
beer_beerid            object
review_overall        float64
main_style             object
dtype: object

In [24]:
# Create SFrame
df_SF = tr.SFrame(df_beers)

In [25]:
# Split into test/train data
training, test = tr.recommender.util.random_split_by_user(df_SF, 'review_profilename', 'beer_beerid',item_test_proportion=0.2, random_seed = 1)

## Item Similarity Model - All Data

In [26]:
# Run model 
# model = tr.recommender.item_similarity_recommender.create(df_SF, user_id='review_profilename', item_id='beer_beerid', target='review_overall')

In [46]:
# Save model - load model
# model.save('jupyter_folder/item_similarity_id.model')
model = tr.load_model('jupyter_folder/item_similarity_id.model')

### New user test data

In [39]:
beerID_df.head()

,beer_beerid,beer_name,brewery_name,main_style,beer_style
0,57645,! (Old Ale),Närke Kulturbryggeri AB,Strong Ales,Old Ale
1,49236,"""100""",The Covey Restaurant & Brewery,Dark Ales,Belgian Dark Ale
2,50696,"""100"" Pale Ale",Aviator Brewing Company,India Pale Ales,American IPA
3,44353,"""12"" Belgian Golden Strong Ale",Flossmoor Station Restaurant & Brewery,Strong Ales,Belgian Strong Pale Ale
4,30080,"""33"" Export",Baltika-Baku,Pilseners and Pale Lagers,Dortmunder / Export Lager

In [42]:
beerID_df[beerID_df['beer_name'] == 'Guinness Extra Stout (Original)']

,beer_beerid,beer_name,brewery_name,main_style,beer_style
25466,650,Guinness Extra Stout (Original),Guinness Ltd.,Stouts,Irish Dry Stout

In [26]:
beer1_st, beer1_id = findBeerID_Style('Samuel Adams Octoberfest', 'Boston Beer Company (Samuel Adams)')
beer2_st, beer2_id = findBeerID_Style('Pulaski Pilsner', "Vino's Brewpub")
beer3_st, beer3_id = findBeerID_Style('Stella Artois', 'Stella Artois')

In [27]:
user_info = tr.SFrame({'review_profilename': ['new_user','new_user','new_user'], 'beer_beerid': [beer1_id,beer2_id,beer3_id], 'main_style': [beer1_st,beer2_st,beer3_st], 'review_overall': [5.0,4.5,4.0]})

In [43]:
beer1B_st, beer1B_id = findBeerID_Style('Triple Chocolate Stout', 'Airways Brewing Company')
beer2B_st, beer2B_id = findBeerID_Style('Founders Breakfast Stout', "Founders Brewing Company")
beer3B_st, beer3B_id = findBeerID_Style('Guinness Extra Stout (Original)', 'Guinness Ltd.')

In [44]:
user2_info = tr.SFrame({'review_profilename': ['new_user2','new_user2','new_user2'], 'beer_beerid': [beer1B_id,beer2B_id,beer3B_id], 'main_style': [beer1B_st,beer2B_st,beer3B_st], 'review_overall': [5.0,4.5,4.0]})

In [30]:
recommend1 = model.recommend(['new_user'], new_observation_data = user_info, k=25)
recommend1.print_rows(25)

+--------------------+-------------+----------------+------+
| review_profilename | beer_beerid |     score      | rank |
+--------------------+-------------+----------------+------+
|      new_user      |     1013    | 0.287420551777 |  1   |
|      new_user      |     4083    | 0.28710396409  |  2   |
|      new_user      |     2671    | 0.281532007456 |  3   |
|      new_user      |     680     | 0.280811485052 |  4   |
|      new_user      |     412     | 0.280441898108 |  5   |
|      new_user      |      88     | 0.280221506357 |  6   |
|      new_user      |     1904    | 0.278480520248 |  7   |
|      new_user      |     2093    | 0.276632959843 |  8   |
|      new_user      |     1708    | 0.273175606728 |  9   |
|      new_user      |     131     | 0.267840100527 |  10  |
|      new_user      |     1005    | 0.267036730051 |  11  |
|      new_user      |     3158    | 0.262170200348 |  12  |
|      new_user      |      92     | 0.260610797405 |  13  |
|      new_user      |     731     | 0.259610339403 |  14  |
|      new_user      |      34     | 0.25958042264  |  15  |
|      new_user      |     6108    | 0.258893814087 |  16  |
|      new_user      |     1160    | 0.254665037394 |  17  |
|      new_user      |     1010    | 0.249226288795 |  18  |
|      new_user      |     1056    | 0.245853928328 |  19  |
|      new_user      |     141     | 0.244640126228 |  20  |
|      new_user      |     1093    | 0.242249370813 |  21  |
|      new_user      |     8951    | 0.241754025221 |  22  |
|      new_user      |     224     | 0.236022729874 |  23  |
|      new_user      |     695     | 0.233276067972 |  24  |
|      new_user      |      90     | 0.230691652298 |  25  |
+--------------------+-------------+----------------+------+
[25 rows x 4 columns]

In [31]:
# Create dataframe with all beer info
recommend1_df = pd.DataFrame(recommend1)
recommend1_df['beer_beerid'] = [int(x) for x in recommend1_df['beer_beerid']]
recommend1_df = findBeers(recommend1_df)
recommend1_df

,beer_beerid,rank,review_profilename,score,beer_name,brewery_name,review_overall,review_aroma,review_appearance,review_palate,review_taste,beer_abv
0,1013,1,new_user,0.287421,Storm King Stout,Victory Brewing Company,4.091150,4.070555,4.304445,4.138458,4.211664,9.1
1,4083,2,new_user,0.287104,Stone Ruination IPA,Stone Brewing Co.,4.161612,4.341531,4.179179,4.183432,4.351331,7.7
2,2671,3,new_user,0.281532,Sierra Nevada Bigfoot Barleywine Style Ale,Sierra Nevada Brewing Co.,3.966091,4.155698,4.258628,4.126204,4.189005,9.6
3,680,4,new_user,0.280811,Brooklyn Black Chocolate Stout,Brooklyn Brewery,4.032284,4.110544,4.293829,4.165304,4.220883,10.0
4,412,5,new_user,0.280442,Old Rasputin Russian Imperial Stout,North Coast Brewing Co.,4.174221,4.198650,4.373995,4.231758,4.342173,9.0
5,88,6,new_user,0.280222,Stone IPA (India Pale Ale),Stone Brewing Co.,4.257670,4.238641,4.135728,4.138252,4.297087,6.9
6,1904,7,new_user,0.278481,Sierra Nevada Celebration Ale,Sierra Nevada Brewing Co.,4.168667,4.082333,4.225167,4.076000,4.190000,6.8
7,2093,8,new_user,0.276633,90 Minute IPA,Dogfish Head Brewery,4.145745,4.213526,4.192097,4.181763,4.325988,9.0
8,1708,9,new_user,0.273176,St. Bernardus Abt 12,Brouwerij St. Bernardus NV,4.327921,4.318448,4.362201,4.368290,4.487145,10.0
9,131,10,new_user,0.267840,Ayinger Celebrator Doppelbock,Privatbrauerei Franz Inselkammer KG / Brauerei...,4.299275,4.244203,4.253865,4.304348,4.428502,6.7
10,1005,11,new_user,0.267037,HopDevil Ale,Victory Brewing Company,4.114683,3.995656,4.093180,4.019114,4.143788,6.7
11,3158,12,new_user,0.262170,Hop Rod Rye,Bear Republic Brewing Co.,4.217459,4.209880,4.295609,4.225823,4.342394,8.0
12,92,13,new_user,0.260611,Arrogant Bastard Ale,Stone Brewing Co.,4.078402,4.119268,4.296413,4.143121,4.278846,7.2
13,731,14,new_user,0.259610,Weihenstephaner Hefeweissbier,Bayerische Staatsbrauerei Weihenstephan,4.515901,4.296315,4.380363,4.283190,4.425038,5.4
14,34,15,new_user,0.259580,La Fin Du Monde,Unibroue,4.298027,4.231977,4.193919,4.264398,4.396093,9.0
15,6108,16,new_user,0.258894,60 Minute IPA,Dogfish Head Brewery,4.172727,3.996768,3.966061,4.006667,4.118990,6.0
16,1160,17,new_user,0.254665,Stone Imperial Russian Stout,Stone Brewing Co.,4.244311,4.289824,4.403821,4.384714,4.451911,10.5
17,1010,18,new_user,0.249226,Prima Pils,Victory Brewing Company,4.242083,3.938808,3.952764,4.011809,4.124799,5.3
18,1056,19,new_user,0.245854,Double Bastard Ale,Stone Brewing Co.,4.112372,4.223663,4.267423,4.282010,4.366288,10.5
19,141,20,new_user,0.244640,Hennepin (Farmhouse Saison),Brewery Ommegang,4.250000,4.076902,4.237138,4.127814,4.218917,7.7
20,1093,21,new_user,0.242249,Two Hearted Ale,"Bell's Brewery, Inc.",4.329729,4.266496,4.153959,4.138746,4.318915,7.0
21,8951,22,new_user,0.241754,Oaked Arrogant Bastard Ale,Stone Brewing Co.,4.109281,4.143114,4.258383,4.164371,4.266766,7.2
22,224,23,new_user,0.236023,Schneider Aventinus,Weisses Bräuhaus G. Schneider & Sohn GmbH,4.234334,4.269352,4.178515,4.195366,4.388362,8.2
23,695,24,new_user,0.233276,Duvel,Brouwerij Duvel Moortgat NV,4.342245,4.151224,4.512857,4.257347,4.329592,8.5
24,90,25,new_user,0.230692,Stone Smoked Porter,Stone Brewing Co.,4.071516,3.944309,4.153987,4.014303,4.097687,5.9

In [47]:
recommend1B = model.recommend(['new_user2'], new_observation_data = user2_info, k=25)
recommend1B.print_rows(25)

+--------------------+-------------+----------------+------+
| review_profilename | beer_beerid |     score      | rank |
+--------------------+-------------+----------------+------+
|     new_user2      |     1013    | 0.287420551777 |  1   |
|     new_user2      |     4083    | 0.28710396409  |  2   |
|     new_user2      |     2671    | 0.281532007456 |  3   |
|     new_user2      |     680     | 0.280811485052 |  4   |
|     new_user2      |     412     | 0.280441898108 |  5   |
|     new_user2      |      88     | 0.280221506357 |  6   |
|     new_user2      |     1904    | 0.278480520248 |  7   |
|     new_user2      |     2093    | 0.276632959843 |  8   |
|     new_user2      |     1708    | 0.273175606728 |  9   |
|     new_user2      |     131     | 0.267840100527 |  10  |
|     new_user2      |     1005    | 0.267036730051 |  11  |
|     new_user2      |     3158    | 0.262170200348 |  12  |
|     new_user2      |      92     | 0.260610797405 |  13  |
|     new_user2      |     731     | 0.259610339403 |  14  |
|     new_user2      |      34     | 0.25958042264  |  15  |
|     new_user2      |     6108    | 0.258893814087 |  16  |
|     new_user2      |     1160    | 0.254665037394 |  17  |
|     new_user2      |     1010    | 0.249226288795 |  18  |
|     new_user2      |     1056    | 0.245853928328 |  19  |
|     new_user2      |     141     | 0.244640126228 |  20  |
|     new_user2      |     1093    | 0.242249370813 |  21  |
|     new_user2      |     8951    | 0.241754025221 |  22  |
|     new_user2      |     224     | 0.236022729874 |  23  |
|     new_user2      |     695     | 0.233276067972 |  24  |
|     new_user2      |      90     | 0.230691652298 |  25  |
+--------------------+-------------+----------------+------+
[25 rows x 4 columns]

In [36]:
model.evaluate(df_SF)

recommendations finished on 1000/33387 queries. users per second: 292.26

recommendations finished on 2000/33387 queries. users per second: 467.565

recommendations finished on 3000/33387 queries. users per second: 584.199

recommendations finished on 4000/33387 queries. users per second: 632.078

recommendations finished on 5000/33387 queries. users per second: 703.571

recommendations finished on 6000/33387 queries. users per second: 760.198

recommendations finished on 7000/33387 queries. users per second: 802.042

recommendations finished on 8000/33387 queries. users per second: 834.571

recommendations finished on 9000/33387 queries. users per second: 865.087

recommendations finished on 10000/33387 queries. users per second: 890.206

recommendations finished on 11000/33387 queries. users per second: 893.594

recommendations finished on 12000/33387 queries. users per second: 917.349

recommendations finished on 13000/33387 queries. users per second: 937.077

recommendations finished on 14000/33387 queries. users per second: 954.338

recommendations finished on 15000/33387 queries. users per second: 970.144

recommendations finished on 16000/33387 queries. users per second: 980.29

recommendations finished on 17000/33387 queries. users per second: 987.874

recommendations finished on 18000/33387 queries. users per second: 983.826

recommendations finished on 19000/33387 queries. users per second: 990.739

recommendations finished on 20000/33387 queries. users per second: 998.988

recommendations finished on 21000/33387 queries. users per second: 1008.43

recommendations finished on 22000/33387 queries. users per second: 1015.71

recommendations finished on 23000/33387 queries. users per second: 1021.65

recommendations finished on 24000/33387 queries. users per second: 1013.3

recommendations finished on 25000/33387 queries. users per second: 1011.6

recommendations finished on 26000/33387 queries. users per second: 1016.41

recommendations finished on 27000/33387 queries. users per second: 1021.21

recommendations finished on 28000/33387 queries. users per second: 1020.31

recommendations finished on 29000/33387 queries. users per second: 1022.45

recommendations finished on 30000/33387 queries. users per second: 1019.76

recommendations finished on 31000/33387 queries. users per second: 1019.05

recommendations finished on 32000/33387 queries. users per second: 1023.65

recommendations finished on 33000/33387 queries. users per second: 1028.11

Precision and recall summary statistics by cutoff
+--------+----------------+-------------+
| cutoff | mean_precision | mean_recall |
+--------+----------------+-------------+
|   1    |      0.0       |     0.0     |
|   2    |      0.0       |     0.0     |
|   3    |      0.0       |     0.0     |
|   4    |      0.0       |     0.0     |
|   5    |      0.0       |     0.0     |
|   6    |      0.0       |     0.0     |
|   7    |      0.0       |     0.0     |
|   8    |      0.0       |     0.0     |
|   9    |      0.0       |     0.0     |
|   10   |      0.0       |     0.0     |
+--------+----------------+-------------+
[10 rows x 3 columns]


Overall RMSE: 3.87039792408

Per User RMSE (best)
+--------------------+-------+----------------+
| review_profilename | count |      rmse      |
+--------------------+-------+----------------+
|      BrewTat       |   6   | 0.552770798393 |
+--------------------+-------+----------------+
[1 rows x 3 columns]


Per User RMSE (worst)
+--------------------+-------+------+
| review_profilename | count | rmse |
+--------------------+-------+------+
|       tooic        |   1   | 5.0  |
+--------------------+-------+------+
[1 rows x 3 columns]


Per Item RMSE (best)
+-------------+-------+----------------+
| beer_beerid | count |      rmse      |
+-------------+-------+----------------+
|    12228    |   1   | 0.416666666667 |
+-------------+-------+----------------+
[1 rows x 3 columns]


Per Item RMSE (worst)
+-------------+-------+------+
| beer_beerid | count | rmse |
+-------------+-------+------+
|    68563    |   1   | 5.0  |
+-------------+-------+------+
[1 rows x 3 columns]

{'precision_recall_by_user': Columns:
 	review_profilename	str
 	cutoff	int
 	precision	float
 	recall	float
 	count	int

 Rows: 600966

 Data:
 +--------------------+--------+-----------+--------+-------+
 | review_profilename | cutoff | precision | recall | count |
 +--------------------+--------+-----------+--------+-------+
 |      stcules       |   1    |    0.0    |  0.0   |  1788 |
 |      stcules       |   2    |    0.0    |  0.0   |  1788 |
 |      stcules       |   3    |    0.0    |  0.0   |  1788 |
 |      stcules       |   4    |    0.0    |  0.0   |  1788 |
 |      stcules       |   5    |    0.0    |  0.0   |  1788 |
 |      stcules       |   6    |    0.0    |  0.0   |  1788 |
 |      stcules       |   7    |    0.0    |  0.0   |  1788 |
 |      stcules       |   8    |    0.0    |  0.0   |  1788 |
 |      stcules       |   9    |    0.0    |  0.0   |  1788 |
 |      stcules       |   10   |    0.0    |  0.0   |  1788 |
 +--------------------+--------+-----------+--------+-------+
 [600966 rows x 5 columns]
 Note: Only the head of the SFrame is printed.
 You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.,
 'precision_recall_overall': Columns:
 	cutoff	int
 	precision	float
 	recall	float

 Rows: 18

 Data:
 +--------+-----------+--------+
 | cutoff | precision | recall |
 +--------+-----------+--------+
 |   1    |    0.0    |  0.0   |
 |   2    |    0.0    |  0.0   |
 |   3    |    0.0    |  0.0   |
 |   4    |    0.0    |  0.0   |
 |   5    |    0.0    |  0.0   |
 |   6    |    0.0    |  0.0   |
 |   7    |    0.0    |  0.0   |
 |   8    |    0.0    |  0.0   |
 |   9    |    0.0    |  0.0   |
 |   10   |    0.0    |  0.0   |
 +--------+-----------+--------+
 [18 rows x 3 columns]
 Note: Only the head of the SFrame is printed.
 You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.,
 'rmse_by_item': Columns:
 	beer_beerid	str
 	count	int
 	rmse	float

 Rows: 66051

 Data:
 +-------------+-------+---------------+
 | beer_beerid | count |      rmse     |
 +-------------+-------+---------------+
 |    31998    |   1   | 3.49431089756 |
 |    64985    |   2   | 3.25316533847 |
 |    27164    |   2   | 4.30235680215 |
 |    73084    |   14  | 4.22071339337 |
 |    69129    |   1   | 3.47570583984 |
 |    33646    |   14  | 4.14635127436 |
 |     432     |  256  | 3.82395202283 |
 |    33589    |   7   | 4.11654008057 |
 |    38234    |   4   | 3.94412455276 |
 |     8467    |   2   | 3.49457810768 |
 +-------------+-------+---------------+
 [66051 rows x 3 columns]
 Note: Only the head of the SFrame is printed.
 You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.,
 'rmse_by_user': Columns:
 	review_profilename	str
 	count	int
 	rmse	float

 Rows: 33387

 Data:
 +--------------------+-------+---------------+
 | review_profilename | count |      rmse     |
 +--------------------+-------+---------------+
 |      mclennan      |   1   |      4.0      |
 |       tooic        |   1   |      5.0      |
 |       arakis       |   1   |      4.5      |
 |    blindeyesr3d    |   1   |      3.5      |
 |     vecernicek     |   1   |      5.0      |
 |     beersujit      |   1   |      4.0      |
 |    GrantDuthie     |   2   | 4.03112887415 |
 |    BuckeyeSlim     |   44  | 3.80616028188 |
 |      britner       |   1   |      5.0      |
 |    flintsilver7    |   3   | 3.06865877325 |
 +--------------------+-------+---------------+
 [33387 rows x 3 columns]
 Note: Only the head of the SFrame is printed.
 You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.,
 'rmse_overall': 3.870397924076427}

#### Since the score cannot be tested using the train/test method, a new model will have to be created to understand the accuracy and loss

In [28]:
training_data, validation_data = tr.recommender.util.random_split_by_user(df_SF, 'review_profilename', 'beer_beerid', item_test_proportion=0.15)

In [29]:
modelB = tr.recommender.item_similarity_recommender.create(training_data, user_id='review_profilename', item_id='beer_beerid', target='review_overall')

Warning: Ignoring columns main_style;

    To use these columns in scoring predictions, use a model that allows the use of additional features.

Preparing data set.

    Data has 1578596 observations with 33340 users and 65965 items.

    Data prepared in: 2.04351s

Training model from provided data.

Gathering per-item and per-user statistics.

+--------------------------------+------------+

| Elapsed Time (Item Statistics) | % Complete |

+--------------------------------+------------+

| 54.964ms                       | 2.75       |

| 75.206ms                       | 100        |

+--------------------------------+------------+

Setting up lookup tables.

Processing data in 3 passes using dense lookup tables.

+-------------------------------------+------------------+-----------------+

| Elapsed Time (Constructing Lookups) | Total % Complete | Items Processed |

+-------------------------------------+------------------+-----------------+

| 13.61s                              | 0                | 61              |

| 16.62s                              | 10.75            | 7229            |

| 19.98s                              | 14.25            | 9536            |

| 23.21s                              | 17               | 11223           |

| 25.67s                              | 17.75            | 11842           |

| 28.89s                              | 18.5             | 12316           |

| 44.56s                              | 19               | 12652           |

| 5m 12s                              | 20.5             | 13551           |

| 8m 58s                              | 23               | 15221           |

| 12m 52s                             | 24.75            | 16464           |

| 14m 31s                             | 25.75            | 16996           |

| 14m 35s                             | 25.75            | 16997           |

| 14m 40s                             | 25.75            | 17003           |

| 14m 45s                             | 25.75            | 17029           |

| 14m 51s                             | 25.75            | 17036           |

| 14m 54s                             | 25.75            | 17136           |

| 15m 13s                             | 26               | 17280           |

| 17m 22s                             | 26.75            | 17704           |

| 17m 25s                             | 26.75            | 17717           |

| 17m 27s                             | 26.75            | 17719           |

| 17m 34s                             | 26.75            | 17721           |

| 17m 43s                             | 26.75            | 17739           |

| 17m 48s                             | 27               | 17844           |

| 18m 3s                              | 27               | 17913           |

| 18m 10s                             | 27               | 17924           |

| 18m 24s                             | 27               | 17925           |

| 18m 30s                             | 27               | 17930           |

| 18m 33s                             | 27               | 17961           |

| 18m 41s                             | 27.25            | 18075           |

| 18m 44s                             | 27.25            | 18107           |

| 18m 49s                             | 27.25            | 18117           |

| 18m 54s                             | 27.25            | 18117           |

| 18m 59s                             | 27.25            | 18119           |

| 19m 1s                              | 27.5             | 18169           |

| 19m 5s                              | 27.5             | 18183           |

| 19m 15s                             | 27.5             | 18196           |

| 19m 19s                             | 27.5             | 18196           |

| 20m 7s                              | 27.75            | 18390           |

| 20m 14s                             | 27.75            | 18395           |

| 20m 20s                             | 27.75            | 18397           |

| 20m 21s                             | 27.75            | 18431           |

| 20m 24s                             | 27.75            | 18432           |

| 20m 28s                             | 27.75            | 18449           |

| 20m 30s                             | 27.75            | 18450           |

| 20m 32s                             | 28               | 18483           |

| 20m 36s                             | 28               | 18483           |

| 20m 44s                             | 28               | 18542           |

| 20m 48s                             | 28               | 18575           |

| 20m 52s                             | 28               | 18586           |

| 20m 57s                             | 28               | 18599           |

| 21m 3s                              | 28               | 18601           |

| 21m 37s                             | 28.25            | 18682           |

| 21m 42s                             | 28.25            | 18685           |

| 21m 46s                             | 28.25            | 18686           |

| 21m 47s                             | 28.25            | 18695           |

| 21m 50s                             | 28.25            | 18713           |

| 21m 56s                             | 28.25            | 18719           |

| 22m 0s                              | 28.25            | 18733           |

| 22m 3s                              | 28.25            | 18735           |

| 22m 7s                              | 28.25            | 18749           |

| 22m 10s                             | 28.25            | 18756           |

| 22m 12s                             | 28.25            | 18785           |

| 22m 15s                             | 28.25            | 18785           |

| 22m 19s                             | 28.5             | 18806           |

| 22m 21s                             | 28.5             | 18831           |

| 22m 53s                             | 28.5             | 18936           |

| 22m 57s                             | 28.5             | 18956           |

| 23m 2s                              | 28.5             | 18956           |

| 23m 3s                              | 28.5             | 18956           |

| 23m 5s                              | 28.75            | 19006           |

| 23m 9s                              | 28.75            | 19030           |

| 23m 12s                             | 28.75            | 19051           |

| 23m 15s                             | 28.75            | 19091           |

| 23m 17s                             | 28.75            | 19096           |

| 23m 21s                             | 28.75            | 19115           |

| 23m 23s                             | 29               | 19181           |

| 23m 27s                             | 29               | 19186           |

| 23m 30s                             | 29               | 19202           |

| 30m 21s                             | 31.5             | 20903           |

| 30m 25s                             | 31.5             | 20915           |

| 30m 27s                             | 31.5             | 20925           |

| 30m 30s                             | 31.75            | 20979           |

| 30m 34s                             | 31.75            | 21014           |

| 30m 37s                             | 31.75            | 21014           |

| 30m 39s                             | 31.75            | 21042           |

| 30m 42s                             | 31.75            | 21066           |

| 30m 45s                             | 31.75            | 21074           |

| 30m 49s                             | 31.75            | 21077           |

| 30m 51s                             | 31.75            | 21080           |

| 30m 54s                             | 31.75            | 21098           |

| 30m 58s                             | 32               | 21113           |

| 31m 0s                              | 32               | 21116           |

| 31m 6s                              | 32               | 21120           |

| 31m 10s                             | 32               | 21139           |

| 31m 12s                             | 32               | 21139           |

| 31m 15s                             | 32               | 21158           |

| 31m 19s                             | 32               | 21168           |

| 31m 21s                             | 32               | 21210           |

| 31m 24s                             | 32               | 21223           |

| 31m 28s                             | 32               | 21236           |

| 31m 31s                             | 32.25            | 21314           |

| 31m 33s                             | 32.25            | 21335           |

| 31m 36s                             | 32.25            | 21367           |

| 31m 39s                             | 32.25            | 21421           |

| 31m 43s                             | 32.5             | 21450           |

| 31m 45s                             | 32.5             | 21489           |

| 31m 48s                             | 32.5             | 21540           |

| 31m 51s                             | 32.5             | 21548           |

| 31m 54s                             | 32.5             | 21552           |

| 31m 57s                             | 32.5             | 21583           |

| 32m 1s                              | 32.75            | 21609           |

| 32m 3s                              | 32.75            | 21612           |

| 32m 6s                              | 32.75            | 21645           |

| 32m 9s                              | 32.75            | 21667           |

| 32m 12s                             | 32.75            | 21694           |

| 32m 15s                             | 32.75            | 21702           |

| 32m 19s                             | 32.75            | 21725           |

| 32m 21s                             | 32.75            | 21737           |

| 32m 24s                             | 32.75            | 21759           |

| 32m 27s                             | 33               | 21775           |

| 32m 30s                             | 33               | 21799           |

| 32m 33s                             | 33               | 21832           |

| 32m 36s                             | 33               | 21859           |

| 32m 39s                             | 33               | 21884           |

| 32m 42s                             | 33               | 21898           |

| 32m 45s                             | 33               | 21901           |

| 32m 48s                             | 33               | 21911           |

| 32m 51s                             | 33               | 21919           |

| 32m 54s                             | 33               | 21932           |

| 32m 57s                             | 33.25            | 21935           |

| 33m 0s                              | 33.25            | 21939           |

| 33m 3s                              | 33.25            | 21952           |

| 33m 8s                              | 33.25            | 21956           |

| 33m 9s                              | 33.25            | 21959           |

| 33m 12s                             | 33.25            | 21968           |

| 33m 15s                             | 33.25            | 21971           |

| 33m 19s                             | 33.25            | 21974           |

| 33m 21s                             | 33.25            | 21976           |

| 33m 24s                             | 33.25            | 21986           |

| 1h 49m                              | 33.25            | 22049           |

| 1h 49m                              | 33.5             | 22125           |

| 1h 49m                              | 33.75            | 22300           |

| 1h 49m                              | 39.5             | 26096           |

| 1h 49m                              | 42               | 27712           |

| 1h 49m                              | 42               | 27739           |

| 1h 49m                              | 42               | 27742           |

| 1h 49m                              | 45               | 29797           |

| 1h 49m                              | 48.75            | 32317           |

| 1h 49m                              | 52.75            | 34887           |

| 1h 49m                              | 53.5             | 35402           |

| 1h 49m                              | 53.5             | 35402           |

| 1h 50m                              | 53.75            | 35614           |

| 1h 50m                              | 54               | 35662           |

| 1h 50m                              | 54               | 35759           |

| 1h 50m                              | 54.25            | 35907           |

| 1h 50m                              | 54.5             | 35999           |

| 1h 50m                              | 54.75            | 36165           |

| 1h 50m                              | 54.75            | 36261           |

| 1h 50m                              | 55.5             | 36630           |

| 1h 50m                              | 55.5             | 36636           |

| 1h 50m                              | 55.5             | 36717           |

| 1h 50m                              | 55.5             | 36745           |

| 1h 50m                              | 55.75            | 36801           |

| 1h 51m                              | 55.75            | 36833           |

| 1h 51m                              | 55.75            | 36843           |

| 1h 51m                              | 55.75            | 36912           |

| 1h 51m                              | 55.75            | 36914           |

| 1h 51m                              | 56               | 36951           |

| 1h 51m                              | 56               | 37068           |

| 1h 51m                              | 56.25            | 37109           |

| 1h 51m                              | 56.5             | 37311           |

| 1h 51m                              | 56.5             | 37372           |

| 1h 51m                              | 56.5             | 37409           |

| 1h 51m                              | 56.5             | 37424           |

| 1h 51m                              | 56.5             | 37425           |

| 1h 52m                              | 56.5             | 37434           |

| 1h 52m                              | 56.75            | 37510           |

| 1h 52m                              | 56.75            | 37557           |

| 1h 52m                              | 57               | 37624           |

| 1h 52m                              | 57               | 37627           |

| 1h 52m                              | 57               | 37687           |

| 1h 52m                              | 57               | 37691           |

| 1h 52m                              | 57.25            | 37810           |

| 1h 52m                              | 57.25            | 37839           |

| 1h 52m                              | 57.5             | 38053           |

| 1h 52m                              | 57.75            | 38161           |

| 1h 52m                              | 58.25            | 38440           |

| 1h 52m                              | 58.5             | 38643           |

| 1h 52m                              | 58.5             | 38711           |

| 1h 53m                              | 58.75            | 38908           |

| 1h 53m                              | 59               | 38930           |

| 1h 53m                              | 59               | 38948           |

| 1h 53m                              | 59               | 38948           |

| 1h 53m                              | 59               | 38948           |

| 1h 53m                              | 59               | 38949           |

| 1h 53m                              | 59               | 38984           |

| 1h 53m                              | 59               | 39006           |

| 1h 53m                              | 59               | 39008           |

| 1h 53m                              | 59               | 39082           |

| 1h 53m                              | 59.25            | 39088           |

| 1h 53m                              | 59.25            | 39106           |

| 1h 53m                              | 59.25            | 39106           |

| 1h 53m                              | 59.25            | 39228           |

| 1h 54m                              | 59.5             | 39296           |

| 1h 54m                              | 59.5             | 39349           |

| 1h 54m                              | 59.5             | 39370           |

| 1h 54m                              | 59.5             | 39389           |

| 1h 54m                              | 59.5             | 39391           |

| 1h 54m                              | 59.5             | 39399           |

| 1h 54m                              | 59.5             | 39399           |

| 1h 54m                              | 59.5             | 39400           |

| 1h 54m                              | 59.75            | 39422           |

| 1h 54m                              | 59.75            | 39556           |

| 1h 54m                              | 60               | 39650           |

| 1h 54m                              | 60               | 39664           |

| 1h 54m                              | 60               | 39664           |

| 1h 55m                              | 60               | 39674           |

| 1h 55m                              | 60               | 39674           |

| 1h 55m                              | 60               | 39707           |

| 1h 55m                              | 60               | 39711           |

| 1h 55m                              | 60               | 39722           |

| 1h 55m                              | 60.25            | 39774           |

| 1h 55m                              | 60.25            | 39826           |

| 1h 55m                              | 60.25            | 39886           |

| 1h 55m                              | 60.5             | 39960           |

| 1h 56m                              | 60.5             | 39962           |

| 1h 56m                              | 60.5             | 39982           |

| 1h 56m                              | 60.5             | 40052           |

| 1h 56m                              | 60.5             | 40053           |

| 1h 56m                              | 60.5             | 40071           |

| 1h 56m                              | 60.75            | 40092           |

| 1h 56m                              | 60.75            | 40114           |

| 1h 56m                              | 60.75            | 40124           |

| 1h 56m                              | 60.75            | 40130           |

| 1h 56m                              | 60.75            | 40156           |

| 1h 56m                              | 60.75            | 40168           |

| 1h 56m                              | 60.75            | 40169           |

| 1h 56m                              | 60.75            | 40172           |

| 1h 56m                              | 60.75            | 40213           |

| 1h 56m                              | 60.75            | 40215           |

| 1h 57m                              | 60.75            | 40216           |

| 1h 57m                              | 60.75            | 40218           |

| 1h 57m                              | 61               | 40272           |

| 1h 57m                              | 61               | 40299           |

| 1h 57m                              | 61               | 40324           |

| 1h 57m                              | 61.25            | 40417           |

| 1h 57m                              | 61.25            | 40555           |

| 1h 57m                              | 61.5             | 40577           |

| 1h 57m                              | 61.5             | 40589           |

| 1h 57m                              | 61.5             | 40625           |

| 1h 57m                              | 61.5             | 40627           |

| 1h 57m                              | 61.5             | 40631           |

| 1h 58m                              | 61.5             | 40665           |

| 1h 58m                              | 61.5             | 40671           |

| 1h 58m                              | 61.5             | 40696           |

| 1h 58m                              | 61.5             | 40722           |

| 1h 58m                              | 61.75            | 40742           |

| 1h 58m                              | 61.75            | 40770           |

| 1h 58m                              | 61.75            | 40796           |

| 1h 58m                              | 61.75            | 40797           |

| 1h 58m                              | 61.75            | 40812           |

| 1h 58m                              | 61.75            | 40825           |

| 1h 58m                              | 61.75            | 40831           |

| 1h 58m                              | 61.75            | 40889           |

| 1h 58m                              | 61.75            | 40889           |

| 1h 58m                              | 61.75            | 40890           |

| 1h 58m                              | 62               | 40965           |

| 1h 58m                              | 62               | 41020           |

| 1h 59m                              | 62               | 41023           |

| 1h 59m                              | 62               | 41053           |

| 1h 59m                              | 62.25            | 41071           |

| 1h 59m                              | 62.25            | 41089           |

| 1h 59m                              | 62.25            | 41099           |

| 1h 59m                              | 62.25            | 41110           |

| 1h 59m                              | 62.25            | 41145           |

| 1h 59m                              | 62.25            | 41154           |

| 1h 59m                              | 62.25            | 41167           |

| 1h 59m                              | 62.25            | 41185           |

| 1h 59m                              | 62.25            | 41196           |

| 1h 59m                              | 62.5             | 41230           |

| 1h 59m                              | 62.5             | 41257           |

| 2h 2m                               | 65               | 42927           |

| 2h 2m                               | 65               | 42954           |

| 2h 2m                               | 65               | 42973           |

| 2h 2m                               | 65               | 42980           |

| 2h 2m                               | 65               | 43004           |

| 2h 2m                               | 65               | 43033           |

| 2h 3m                               | 65.25            | 43101           |

| 2h 3m                               | 65.25            | 43140           |

| 2h 3m                               | 65.25            | 43168           |

| 2h 3m                               | 65.5             | 43210           |

| 2h 3m                               | 65.5             | 43216           |

| 2h 3m                               | 65.5             | 43238           |

| 2h 3m                               | 65.5             | 43299           |

| 2h 3m                               | 65.5             | 43327           |

| 2h 3m                               | 65.5             | 43362           |

| 2h 3m                               | 65.75            | 43401           |

| 2h 3m                               | 65.75            | 43449           |

| 2h 3m                               | 65.75            | 43503           |

| 2h 3m                               | 66               | 43537           |

| 2h 3m                               | 66               | 43579           |

| 2h 3m                               | 66               | 43624           |

| 2h 3m                               | 66               | 43677           |

| 2h 3m                               | 66.25            | 43702           |

| 2h 3m                               | 66.25            | 43726           |

| 2h 3m                               | 66.25            | 43755           |

| 2h 3m                               | 66.25            | 43769           |

| 2h 4m                               | 66.25            | 43777           |

| 2h 4m                               | 66.25            | 43785           |

| 2h 4m                               | 66.25            | 43816           |

| 2h 4m                               | 66.25            | 43838           |

| 2h 4m                               | 66.25            | 43855           |

| 2h 4m                               | 66.5             | 43883           |

| 2h 4m                               | 66.5             | 43899           |

| 2h 4m                               | 66.5             | 43916           |

| 2h 4m                               | 66.5             | 43927           |

| 2h 4m                               | 66.5             | 43935           |

| 2h 4m                               | 66.5             | 43937           |

| 2h 4m                               | 66.5             | 43946           |

| 2h 4m                               | 66.5             | 43958           |

| 2h 4m                               | 66.5             | 43964           |

| 2h 4m                               | 66.5             | 43971           |

| 2h 4m                               | 66.5             | 43975           |

| 2h 29m                              | 66.75            | 44037           |

| 2h 29m                              | 66.75            | 44113           |

| 2h 29m                              | 71.5             | 47260           |

| 2h 29m                              | 80.5             | 53175           |

| 2h 29m                              | 81.75            | 54045           |

| 2h 29m                              | 87.75            | 57905           |

| 2h 29m                              | 93               | 61431           |

| 2h 29m                              | 94.25            | 62217           |

| 2h 30m                              | 99.5             | 65636           |

| 2h 30m                              | 99.75            | 65929           |

| 2h 30m                              | 100              | 65965           |

+-------------------------------------+------------------+-----------------+

Finalizing lookup tables.

Generating candidate set for working with new users.

Finished training in 9025.57s

In [30]:
# Save model - load model
# modelB.save('jupyter_folder/item_similarity_id_train.model')
modelB = tr.load_model('jupyter_folder/item_similarity_id_train.model')

In [31]:
# Find unnormalized score
modelB.evaluate(validation_data)

Precision and recall summary statistics by cutoff
+--------+-----------------+-----------------+
| cutoff |  mean_precision |   mean_recall   |
+--------+-----------------+-----------------+
|   1    |  0.100393700787 | 0.0144793645595 |
|   2    | 0.0856299212598 | 0.0225154966317 |
|   3    | 0.0826771653543 |   0.028056997   |
|   4    | 0.0812007874016 | 0.0345317258874 |
|   5    | 0.0799212598425 |  0.037922474018 |
|   6    | 0.0793963254593 |  0.042752359916 |
|   7    | 0.0756467941507 | 0.0468397359402 |
|   8    |  0.074311023622 | 0.0531627061783 |
|   9    | 0.0741469816273 | 0.0586188794214 |
|   10   | 0.0724409448819 | 0.0621629408043 |
+--------+-----------------+-----------------+
[10 rows x 3 columns]


Overall RMSE: 3.87674546436

Per User RMSE (best)
+--------------------+-------+----------------+
| review_profilename | count |      rmse      |
+--------------------+-------+----------------+
|      kerouac       |   1   | 0.762711882591 |
+--------------------+-------+----------------+
[1 rows x 3 columns]


Per User RMSE (worst)
+--------------------+-------+------+
| review_profilename | count | rmse |
+--------------------+-------+------+
|      einar85       |   1   | 5.0  |
+--------------------+-------+------+
[1 rows x 3 columns]


Per Item RMSE (best)
+-------------+-------+----------------+
| beer_beerid | count |      rmse      |
+-------------+-------+----------------+
|    34403    |   1   | 0.983844418769 |
+-------------+-------+----------------+
[1 rows x 3 columns]


Per Item RMSE (worst)
+-------------+-------+------+
| beer_beerid | count | rmse |
+-------------+-------+------+
|     6341    |   1   | 5.0  |
+-------------+-------+------+
[1 rows x 3 columns]

{'precision_recall_by_user': Columns:
 	review_profilename	str
 	cutoff	int
 	precision	float
 	recall	float
 	count	int

 Rows: 9144

 Data:
 +--------------------+--------+-----------+-----------------+-------+
 | review_profilename | cutoff | precision |      recall     | count |
 +--------------------+--------+-----------+-----------------+-------+
 |       hdofu        |   1    |    0.0    |       0.0       |   52  |
 |       hdofu        |   2    |    0.0    |       0.0       |   52  |
 |       hdofu        |   3    |    0.0    |       0.0       |   52  |
 |       hdofu        |   4    |    0.0    |       0.0       |   52  |
 |       hdofu        |   5    |    0.0    |       0.0       |   52  |
 |       hdofu        |   6    |    0.0    |       0.0       |   52  |
 |       hdofu        |   7    |    0.0    |       0.0       |   52  |
 |       hdofu        |   8    |    0.0    |       0.0       |   52  |
 |       hdofu        |   9    |    0.0    |       0.0       |   52  |
 |       hdofu        |   10   |    0.1    | 0.0192307692308 |   52  |
 +--------------------+--------+-----------+-----------------+-------+
 [9144 rows x 5 columns]
 Note: Only the head of the SFrame is printed.
 You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.,
 'precision_recall_overall': Columns:
 	cutoff	int
 	precision	float
 	recall	float

 Rows: 18

 Data:
 +--------+-----------------+-----------------+
 | cutoff |    precision    |      recall     |
 +--------+-----------------+-----------------+
 |   1    |  0.100393700787 | 0.0144793645595 |
 |   2    | 0.0856299212598 | 0.0225154966317 |
 |   3    | 0.0826771653543 |   0.028056997   |
 |   4    | 0.0812007874016 | 0.0345317258874 |
 |   5    | 0.0799212598425 |  0.037922474018 |
 |   6    | 0.0793963254593 |  0.042752359916 |
 |   7    | 0.0756467941507 | 0.0468397359402 |
 |   8    |  0.074311023622 | 0.0531627061783 |
 |   9    | 0.0741469816273 | 0.0586188794214 |
 |   10   | 0.0724409448819 | 0.0621629408043 |
 +--------+-----------------+-----------------+
 [18 rows x 3 columns]
 Note: Only the head of the SFrame is printed.
 You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.,
 'rmse_by_item': Columns:
 	beer_beerid	str
 	count	int
 	rmse	float

 Rows: 4002

 Data:
 +-------------+-------+---------------+
 | beer_beerid | count |      rmse     |
 +-------------+-------+---------------+
 |     3006    |   1   | 4.49893614937 |
 |     1484    |   1   | 2.49725073161 |
 |     1444    |   3   |  4.0237435791 |
 |    30282    |   8   | 3.65610290569 |
 |    59610    |   1   |      3.0      |
 |     3952    |   1   | 3.99826019388 |
 |     2849    |   1   | 2.49893451574 |
 |    10286    |   1   | 2.99989721452 |
 |    37192    |   1   | 4.99463622608 |
 |     6006    |   1   | 3.99933203915 |
 +-------------+-------+---------------+
 [4002 rows x 3 columns]
 Note: Only the head of the SFrame is printed.
 You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.,
 'rmse_by_user': Columns:
 	review_profilename	str
 	count	int
 	rmse	float

 Rows: 508

 Data:
 +--------------------+-------+---------------+
 | review_profilename | count |      rmse     |
 +--------------------+-------+---------------+
 |  beerandcycling88  |   23  | 3.85638123527 |
 |      dgm6689       |   2   | 4.47999094412 |
 |       steevo       |   2   |  4.3936532971 |
 |     mgreenlaw      |   5   | 3.77528229132 |
 |   ReaquiredHabit   |   2   | 4.45478172181 |
 |    GlassFreeek     |   2   | 4.19634401188 |
 |     maltmelon      |   1   |      3.5      |
 |   watermelonman    |   68  | 3.78682403609 |
 |      eljefe21      |   17  | 4.20277323006 |
 |      1santore      |   1   | 3.88772379027 |
 +--------------------+-------+---------------+
 [508 rows x 3 columns]
 Note: Only the head of the SFrame is printed.
 You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.,
 'rmse_overall': 3.876745464361788}

In [33]:
modelB.recommend(['new_user'])

Columns:
	review_profilename	str
	beer_beerid	str
	score	float
	rank	int

Rows: 10

Data:
+--------------------+-------------+----------------+------+
| review_profilename | beer_beerid |     score      | rank |
+--------------------+-------------+----------------+------+
|      new_user      |     4083    | 0.285194417238 |  1   |
|      new_user      |     1013    | 0.285081341267 |  2   |
|      new_user      |     2671    | 0.279746141434 |  3   |
|      new_user      |     412     | 0.278405613899 |  4   |
|      new_user      |     680     | 0.278176767826 |  5   |
|      new_user      |      88     | 0.277954841852 |  6   |
|      new_user      |     1904    | 0.27584025383  |  7   |
|      new_user      |     2093    | 0.275164802074 |  8   |
|      new_user      |     1708    | 0.271314649582 |  9   |
|      new_user      |     1005    | 0.265215067863 |  10  |
+--------------------+-------------+----------------+------+
[10 rows x 4 columns]

In [48]:
recommend1A = modelB.recommend(['new_user'], new_observation_data = user_info, k=25)
recommend1A.print_rows(25)

+--------------------+-------------+----------------+------+
| review_profilename | beer_beerid |     score      | rank |
+--------------------+-------------+----------------+------+
|      new_user      |     4083    | 0.285194417238 |  1   |
|      new_user      |     1013    | 0.285081341267 |  2   |
|      new_user      |     2671    | 0.279746141434 |  3   |
|      new_user      |     412     | 0.278405613899 |  4   |
|      new_user      |     680     | 0.278176767826 |  5   |
|      new_user      |      88     | 0.277954841852 |  6   |
|      new_user      |     1904    | 0.27584025383  |  7   |
|      new_user      |     2093    | 0.275164802074 |  8   |
|      new_user      |     1708    | 0.271314649582 |  9   |
|      new_user      |     1005    | 0.265215067863 |  10  |
|      new_user      |     131     | 0.26488207221  |  11  |
|      new_user      |     3158    | 0.260551185608 |  12  |
|      new_user      |      92     | 0.25876611352  |  13  |
|      new_user      |     731     | 0.257925332785 |  14  |
|      new_user      |      34     | 0.257623400688 |  15  |
|      new_user      |     1160    | 0.253615350723 |  16  |
|      new_user      |     6108    | 0.25267124176  |  17  |
|      new_user      |     1010    | 0.247405537367 |  18  |
|      new_user      |     1093    | 0.245025161505 |  19  |
|      new_user      |     1056    | 0.243939099312 |  20  |
|      new_user      |     141     | 0.242948836088 |  21  |
|      new_user      |     8951    | 0.240389561653 |  22  |
|      new_user      |     695     | 0.236451209784 |  23  |
|      new_user      |     224     | 0.233574011326 |  24  |
|      new_user      |    14916    | 0.228549252748 |  25  |
+--------------------+-------------+----------------+------+
[25 rows x 4 columns]

In [49]:
recommend1AB = modelB.recommend(['new_user2'], new_observation_data = user2_info, k=25)
recommend1AB.print_rows(25)

+--------------------+-------------+----------------+------+
| review_profilename | beer_beerid |     score      | rank |
+--------------------+-------------+----------------+------+
|     new_user2      |     4083    | 0.285194417238 |  1   |
|     new_user2      |     1013    | 0.285081341267 |  2   |
|     new_user2      |     2671    | 0.279746141434 |  3   |
|     new_user2      |     412     | 0.278405613899 |  4   |
|     new_user2      |     680     | 0.278176767826 |  5   |
|     new_user2      |      88     | 0.277954841852 |  6   |
|     new_user2      |     1904    | 0.27584025383  |  7   |
|     new_user2      |     2093    | 0.275164802074 |  8   |
|     new_user2      |     1708    | 0.271314649582 |  9   |
|     new_user2      |     1005    | 0.265215067863 |  10  |
|     new_user2      |     131     | 0.26488207221  |  11  |
|     new_user2      |     3158    | 0.260551185608 |  12  |
|     new_user2      |      92     | 0.25876611352  |  13  |
|     new_user2      |     731     | 0.257925332785 |  14  |
|     new_user2      |      34     | 0.257623400688 |  15  |
|     new_user2      |     1160    | 0.253615350723 |  16  |
|     new_user2      |     6108    | 0.25267124176  |  17  |
|     new_user2      |     1010    | 0.247405537367 |  18  |
|     new_user2      |     1093    | 0.245025161505 |  19  |
|     new_user2      |     1056    | 0.243939099312 |  20  |
|     new_user2      |     141     | 0.242948836088 |  21  |
|     new_user2      |     8951    | 0.240389561653 |  22  |
|     new_user2      |     695     | 0.236451209784 |  23  |
|     new_user2      |     224     | 0.233574011326 |  24  |
|     new_user2      |    14916    | 0.228549252748 |  25  |
+--------------------+-------------+----------------+------+
[25 rows x 4 columns]

#### Same recommendations for all users - try next model

## Ranking factorization model with side info

In [50]:
# model2 = tr.recommender.ranking_factorization_recommender.create(training_data, user_id='review_profilename', item_id='beer_beerid', user_data = user_info, target='review_overall')

In [51]:
# Save model2 - load model2
# model2.save('jupyter_folder/item_refactorization_id.model')
model2 = tr.load_model('jupyter_folder/item_refactorization_id.model')

In [52]:
recommend2 = model2.recommend(['new_user'], new_observation_data = user_info, k=25)
recommend2.print_rows(25)

+--------------------+-------------+---------------+------+
| review_profilename | beer_beerid |     score     | rank |
+--------------------+-------------+---------------+------+
|      new_user      |     3158    | 5.55581527581 |  1   |
|      new_user      |    15881    | 5.29130519185 |  2   |
|      new_user      |    16074    | 5.28387820901 |  3   |
|      new_user      |     7971    | 5.28192478245 |  4   |
|      new_user      |     355     | 5.25437069496 |  5   |
|      new_user      |     1093    | 5.20317984565 |  6   |
|      new_user      |     141     | 5.19415288629 |  7   |
|      new_user      |     695     | 5.18167821034 |  8   |
|      new_user      |     104     | 5.18046423565 |  9   |
|      new_user      |    11757    | 5.14191255371 |  10  |
|      new_user      |     276     |  5.1368977697 |  11  |
|      new_user      |    17112    | 5.12763431093 |  12  |
|      new_user      |     571     | 5.10192399574 |  13  |
|      new_user      |     6260    | 5.09826186459 |  14  |
|      new_user      |      39     | 5.07872560783 |  15  |
|      new_user      |    54904    | 5.06615338936 |  16  |
|      new_user      |     1904    | 5.05858661034 |  17  |
|      new_user      |      88     | 5.03760863321 |  18  |
|      new_user      |      34     | 5.03461882992 |  19  |
|      new_user      |     226     | 4.99923257572 |  20  |
|      new_user      |     1161    | 4.98619609728 |  21  |
|      new_user      |     9478    | 4.96214685359 |  22  |
|      new_user      |     219     | 4.95550442156 |  23  |
|      new_user      |     2512    | 4.94986466891 |  24  |
|      new_user      |     680     | 4.93763852931 |  25  |
+--------------------+-------------+---------------+------+
[25 rows x 4 columns]

In [53]:
recommend2_df = pd.DataFrame(recommend2)
recommend2_df['beer_beerid'] = [int(x) for x in recommend2_df['beer_beerid']]
recommend2_df.dtypes

beer_beerid             int64
rank                    int64
review_profilename     object
score                 float64
dtype: object

In [54]:
recommend2_df = findBeers(recommend2_df)
recommend2_df

,beer_beerid,rank,review_profilename,score,beer_name,brewery_name,review_overall,review_aroma,review_appearance,review_palate,review_taste,beer_abv
0,3158,1,new_user,5.555815,Hop Rod Rye,Bear Republic Brewing Co.,4.217459,4.209880,4.295609,4.225823,4.342394,8.0
1,15881,2,new_user,5.291305,Tröegs Nugget Nectar,Tröegs Brewing Company,4.395652,4.371100,4.212276,4.198210,4.413555,7.5
2,16074,3,new_user,5.283878,Founders Red's Rye PA,Founders Brewing Company,4.208541,4.166548,4.186477,4.105338,4.257651,6.6
3,7971,4,new_user,5.281925,Pliny The Elder,Russian River Brewing Company,4.590028,4.612188,4.388603,4.451326,4.630985,8.0
4,355,5,new_user,5.254371,Dead Guy Ale,Rogue Ales,4.044987,3.800806,3.892122,3.912936,4.023053,6.5
5,1093,6,new_user,5.203180,Two Hearted Ale,"Bell's Brewery, Inc.",4.329729,4.266496,4.153959,4.138746,4.318915,7.0
6,141,7,new_user,5.194153,Hennepin (Farmhouse Saison),Brewery Ommegang,4.250000,4.076902,4.237138,4.127814,4.218917,7.7
7,695,8,new_user,5.181678,Duvel,Brouwerij Duvel Moortgat NV,4.342245,4.151224,4.512857,4.257347,4.329592,8.5
8,104,9,new_user,5.180464,Samuel Adams Boston Lager,Boston Beer Company (Samuel Adams),4.044251,3.663358,3.886476,3.774194,3.872415,4.9
9,11757,10,new_user,5.141913,Founders Breakfast Stout,Founders Brewing Company,4.354516,4.412070,4.364508,4.387890,4.501199,8.3
10,276,11,new_user,5.136898,Sierra Nevada Pale Ale,Sierra Nevada Brewing Co.,4.245845,3.915539,3.995168,3.966950,4.115385,5.6
11,17112,12,new_user,5.127634,Bell's Hopslam Ale,"Bell's Brewery, Inc.",4.377609,4.533156,4.242530,4.314368,4.518420,10.0
12,571,13,new_user,5.101924,Samuel Smith's Oatmeal Stout,Samuel Smith Old Brewery (Tadcaster),4.240741,4.018272,4.250864,4.200247,4.266667,5.0
13,6260,14,new_user,5.098262,Punkin Ale,Dogfish Head Brewery,3.856872,3.941288,3.825487,3.820346,3.939394,7.0
14,39,15,new_user,5.078726,Alpha King Pale Ale,Three Floyds Brewing Co. & Brewpub,4.330176,4.253429,4.118550,4.139778,4.328870,6.0
15,54904,16,new_user,5.066153,Samuel Adams Noble Pils,Boston Beer Company (Samuel Adams),4.124626,3.794910,3.891841,3.877994,3.941243,4.9
16,1904,17,new_user,5.058587,Sierra Nevada Celebration Ale,Sierra Nevada Brewing Co.,4.168667,4.082333,4.225167,4.076000,4.190000,6.8
17,88,18,new_user,5.037609,Stone IPA (India Pale Ale),Stone Brewing Co.,4.257670,4.238641,4.135728,4.138252,4.297087,6.9
18,34,19,new_user,5.034619,La Fin Du Monde,Unibroue,4.298027,4.231977,4.193919,4.264398,4.396093,9.0
19,226,20,new_user,4.999233,Great Lakes Edmund Fitzgerald Porter,Great Lakes Brewing Company,4.329730,4.178078,4.236036,4.166967,4.369069,5.8
20,1161,21,new_user,4.986196,Indian Brown Ale,Dogfish Head Brewery,4.034031,4.017743,4.048284,4.000582,4.173357,7.2
21,9478,22,new_user,4.962147,Gumballhead,Three Floyds Brewing Co. & Brewpub,4.396272,4.237439,3.941248,4.077796,4.247974,4.5
22,219,23,new_user,4.955504,Fuller's ESB,Fuller Smith & Turner PLC,4.194895,3.912885,4.001216,4.036062,4.130065,5.9
23,2512,24,new_user,4.949865,Chimay Grande Réserve (Blue),Bières de Chimay S.A.,4.248631,4.196615,4.209059,4.242658,4.370582,9.0
24,680,25,new_user,4.937639,Brooklyn Black Chocolate Stout,Brooklyn Brewery,4.032284,4.110544,4.293829,4.165304,4.220883,10.0

In [55]:
recommend2B = model2.recommend(['new_user2'], new_observation_data = user2_info, k=25)
recommend2B.print_rows(25)

+--------------------+-------------+---------------+------+
| review_profilename | beer_beerid |     score     | rank |
+--------------------+-------------+---------------+------+
|     new_user2      |     3158    |  5.5556833192 |  1   |
|     new_user2      |     412     | 5.29805082523 |  2   |
|     new_user2      |    15881    | 5.29117650234 |  3   |
|     new_user2      |    16074    | 5.28375119411 |  4   |
|     new_user2      |     7971    | 5.28180450641 |  5   |
|     new_user2      |     355     | 5.25423151695 |  6   |
|     new_user2      |     1093    | 5.20304376327 |  7   |
|     new_user2      |     141     | 5.19400400363 |  8   |
|     new_user2      |     695     | 5.18153220855 |  9   |
|     new_user2      |     104     | 5.18031937324 |  10  |
|     new_user2      |     731     | 5.15118915283 |  11  |
|     new_user2      |    11757    | 5.14177972518 |  12  |
|     new_user2      |     276     | 5.13676816665 |  13  |
|     new_user2      |    17112    | 5.12750906192 |  14  |
|     new_user2      |     131     | 5.12431246482 |  15  |
|     new_user2      |     6108    | 5.11211771213 |  16  |
|     new_user2      |     1010    | 5.11064166271 |  17  |
|     new_user2      |     2093    | 5.10617846691 |  18  |
|     new_user2      |     571     | 5.10178310119 |  19  |
|     new_user2      |     6260    | 5.09814018451 |  20  |
|     new_user2      |      92     | 5.08524018966 |  21  |
|     new_user2      |      39     | 5.07858998024 |  22  |
|     new_user2      |     645     |  5.0665577098 |  23  |
|     new_user2      |    54904    | 5.06602234088 |  24  |
|     new_user2      |     1904    | 5.05846947872 |  25  |
+--------------------+-------------+---------------+------+
[25 rows x 4 columns]

In [56]:
recommend2B_df = pd.DataFrame(recommend2B)
recommend2B_df['beer_beerid'] = [int(x) for x in recommend2B_df['beer_beerid']]
recommend2B_df.dtypes

beer_beerid             int64
rank                    int64
review_profilename     object
score                 float64
dtype: object

In [57]:
recommend2B_df = findBeers(recommend2B_df)
recommend2B_df

,beer_beerid,rank,review_profilename,score,beer_name,brewery_name,review_overall,review_aroma,review_appearance,review_palate,review_taste,beer_abv
0,3158,1,new_user2,5.555683,Hop Rod Rye,Bear Republic Brewing Co.,4.217459,4.209880,4.295609,4.225823,4.342394,8.0
1,412,2,new_user2,5.298051,Old Rasputin Russian Imperial Stout,North Coast Brewing Co.,4.174221,4.198650,4.373995,4.231758,4.342173,9.0
2,15881,3,new_user2,5.291177,Tröegs Nugget Nectar,Tröegs Brewing Company,4.395652,4.371100,4.212276,4.198210,4.413555,7.5
3,16074,4,new_user2,5.283751,Founders Red's Rye PA,Founders Brewing Company,4.208541,4.166548,4.186477,4.105338,4.257651,6.6
4,7971,5,new_user2,5.281805,Pliny The Elder,Russian River Brewing Company,4.590028,4.612188,4.388603,4.451326,4.630985,8.0
5,355,6,new_user2,5.254232,Dead Guy Ale,Rogue Ales,4.044987,3.800806,3.892122,3.912936,4.023053,6.5
6,1093,7,new_user2,5.203044,Two Hearted Ale,"Bell's Brewery, Inc.",4.329729,4.266496,4.153959,4.138746,4.318915,7.0
7,141,8,new_user2,5.194004,Hennepin (Farmhouse Saison),Brewery Ommegang,4.250000,4.076902,4.237138,4.127814,4.218917,7.7
8,695,9,new_user2,5.181532,Duvel,Brouwerij Duvel Moortgat NV,4.342245,4.151224,4.512857,4.257347,4.329592,8.5
9,104,10,new_user2,5.180319,Samuel Adams Boston Lager,Boston Beer Company (Samuel Adams),4.044251,3.663358,3.886476,3.774194,3.872415,4.9
10,731,11,new_user2,5.151189,Weihenstephaner Hefeweissbier,Bayerische Staatsbrauerei Weihenstephan,4.515901,4.296315,4.380363,4.283190,4.425038,5.4
11,11757,12,new_user2,5.141780,Founders Breakfast Stout,Founders Brewing Company,4.354516,4.412070,4.364508,4.387890,4.501199,8.3
12,276,13,new_user2,5.136768,Sierra Nevada Pale Ale,Sierra Nevada Brewing Co.,4.245845,3.915539,3.995168,3.966950,4.115385,5.6
13,17112,14,new_user2,5.127509,Bell's Hopslam Ale,"Bell's Brewery, Inc.",4.377609,4.533156,4.242530,4.314368,4.518420,10.0
14,131,15,new_user2,5.124312,Ayinger Celebrator Doppelbock,Privatbrauerei Franz Inselkammer KG / Brauerei...,4.299275,4.244203,4.253865,4.304348,4.428502,6.7
15,6108,16,new_user2,5.112118,60 Minute IPA,Dogfish Head Brewery,4.172727,3.996768,3.966061,4.006667,4.118990,6.0
16,1010,17,new_user2,5.110642,Prima Pils,Victory Brewing Company,4.242083,3.938808,3.952764,4.011809,4.124799,5.3
17,2093,18,new_user2,5.106178,90 Minute IPA,Dogfish Head Brewery,4.145745,4.213526,4.192097,4.181763,4.325988,9.0
18,571,19,new_user2,5.101783,Samuel Smith's Oatmeal Stout,Samuel Smith Old Brewery (Tadcaster),4.240741,4.018272,4.250864,4.200247,4.266667,5.0
19,6260,20,new_user2,5.098140,Punkin Ale,Dogfish Head Brewery,3.856872,3.941288,3.825487,3.820346,3.939394,7.0
20,92,21,new_user2,5.085240,Arrogant Bastard Ale,Stone Brewing Co.,4.078402,4.119268,4.296413,4.143121,4.278846,7.2
21,39,22,new_user2,5.078590,Alpha King Pale Ale,Three Floyds Brewing Co. & Brewpub,4.330176,4.253429,4.118550,4.139778,4.328870,6.0
22,645,23,new_user2,5.066558,Trappistes Rochefort 10,Brasserie de Rochefort,4.339401,4.418664,4.344931,4.430876,4.543548,11.3
23,54904,24,new_user2,5.066022,Samuel Adams Noble Pils,Boston Beer Company (Samuel Adams),4.124626,3.794910,3.891841,3.877994,3.941243,4.9
24,1904,25,new_user2,5.058469,Sierra Nevada Celebration Ale,Sierra Nevada Brewing Co.,4.168667,4.082333,4.225167,4.076000,4.190000,6.8

#### Still getting same recommendations per user -  try another model

## Ranking factorization w/o side info

In [58]:
# model3 = tr.recommender.ranking_factorization_recommender.create(training_data, user_id='review_profilename', item_id='beer_beerid', target='review_overall')

In [59]:
# Save model3 - load model
# model3.save('jupyter_folder/item_refactorization_id2.model')
model3 = tr.load_model('jupyter_folder/item_refactorization_id2.model')

In [60]:
recommend3 = model3.recommend(['new_user'], new_observation_data = user_info, k=25)
recommend3.print_rows(25)

+--------------------+-------------+---------------+------+
| review_profilename | beer_beerid |     score     | rank |
+--------------------+-------------+---------------+------+
|      new_user      |     3158    |  5.5154864236 |  1   |
|      new_user      |      92     | 5.35012191974 |  2   |
|      new_user      |     731     | 5.34747571193 |  3   |
|      new_user      |     104     | 5.28225380622 |  4   |
|      new_user      |     695     | 5.22315556251 |  5   |
|      new_user      |     1093    | 5.20636386119 |  6   |
|      new_user      |    16074    | 5.18334192478 |  7   |
|      new_user      |      34     | 5.17069274627 |  8   |
|      new_user      |    15881    | 5.15292233669 |  9   |
|      new_user      |     276     | 5.14743215286 |  10  |
|      new_user      |     412     | 5.13241380893 |  11  |
|      new_user      |     131     | 5.10829359733 |  12  |
|      new_user      |     224     |  5.1037619754 |  13  |
|      new_user      |     2093    | 5.09057563983 |  14  |
|      new_user      |     7971    | 5.08796102249 |  15  |
|      new_user      |     1708    | 5.07119757377 |  16  |
|      new_user      |     2512    | 5.07078737461 |  17  |
|      new_user      |      88     | 5.07005447589 |  18  |
|      new_user      |     1010    | 5.06433064186 |  19  |
|      new_user      |     355     | 5.05971616947 |  20  |
|      new_user      |     645     | 5.05336481773 |  21  |
|      new_user      |     141     | 5.04857987606 |  22  |
|      new_user      |     1545    | 4.99176258289 |  23  |
|      new_user      |     1160    |  4.975081627  |  24  |
|      new_user      |    54904    | 4.97371095859 |  25  |
+--------------------+-------------+---------------+------+
[25 rows x 4 columns]

In [61]:
recommend3_df = pd.DataFrame(recommend3)
recommend3_df['beer_beerid'] = [int(x) for x in recommend3_df['beer_beerid']]
recommend3_df = findBeers(recommend3_df)
recommend3_df

,beer_beerid,rank,review_profilename,score,beer_name,brewery_name,review_overall,review_aroma,review_appearance,review_palate,review_taste,beer_abv
0,3158,1,new_user,5.515486,Hop Rod Rye,Bear Republic Brewing Co.,4.217459,4.209880,4.295609,4.225823,4.342394,8.0
1,92,2,new_user,5.350122,Arrogant Bastard Ale,Stone Brewing Co.,4.078402,4.119268,4.296413,4.143121,4.278846,7.2
2,731,3,new_user,5.347476,Weihenstephaner Hefeweissbier,Bayerische Staatsbrauerei Weihenstephan,4.515901,4.296315,4.380363,4.283190,4.425038,5.4
3,104,4,new_user,5.282254,Samuel Adams Boston Lager,Boston Beer Company (Samuel Adams),4.044251,3.663358,3.886476,3.774194,3.872415,4.9
4,695,5,new_user,5.223156,Duvel,Brouwerij Duvel Moortgat NV,4.342245,4.151224,4.512857,4.257347,4.329592,8.5
5,1093,6,new_user,5.206364,Two Hearted Ale,"Bell's Brewery, Inc.",4.329729,4.266496,4.153959,4.138746,4.318915,7.0
6,16074,7,new_user,5.183342,Founders Red's Rye PA,Founders Brewing Company,4.208541,4.166548,4.186477,4.105338,4.257651,6.6
7,34,8,new_user,5.170693,La Fin Du Monde,Unibroue,4.298027,4.231977,4.193919,4.264398,4.396093,9.0
8,15881,9,new_user,5.152922,Tröegs Nugget Nectar,Tröegs Brewing Company,4.395652,4.371100,4.212276,4.198210,4.413555,7.5
9,276,10,new_user,5.147432,Sierra Nevada Pale Ale,Sierra Nevada Brewing Co.,4.245845,3.915539,3.995168,3.966950,4.115385,5.6
10,412,11,new_user,5.132414,Old Rasputin Russian Imperial Stout,North Coast Brewing Co.,4.174221,4.198650,4.373995,4.231758,4.342173,9.0
11,131,12,new_user,5.108294,Ayinger Celebrator Doppelbock,Privatbrauerei Franz Inselkammer KG / Brauerei...,4.299275,4.244203,4.253865,4.304348,4.428502,6.7
12,224,13,new_user,5.103762,Schneider Aventinus,Weisses Bräuhaus G. Schneider & Sohn GmbH,4.234334,4.269352,4.178515,4.195366,4.388362,8.2
13,2093,14,new_user,5.090576,90 Minute IPA,Dogfish Head Brewery,4.145745,4.213526,4.192097,4.181763,4.325988,9.0
14,7971,15,new_user,5.087961,Pliny The Elder,Russian River Brewing Company,4.590028,4.612188,4.388603,4.451326,4.630985,8.0
15,1708,16,new_user,5.071198,St. Bernardus Abt 12,Brouwerij St. Bernardus NV,4.327921,4.318448,4.362201,4.368290,4.487145,10.0
16,2512,17,new_user,5.070787,Chimay Grande Réserve (Blue),Bières de Chimay S.A.,4.248631,4.196615,4.209059,4.242658,4.370582,9.0
17,88,18,new_user,5.070054,Stone IPA (India Pale Ale),Stone Brewing Co.,4.257670,4.238641,4.135728,4.138252,4.297087,6.9
18,1010,19,new_user,5.064331,Prima Pils,Victory Brewing Company,4.242083,3.938808,3.952764,4.011809,4.124799,5.3
19,355,20,new_user,5.059716,Dead Guy Ale,Rogue Ales,4.044987,3.800806,3.892122,3.912936,4.023053,6.5
20,645,21,new_user,5.053365,Trappistes Rochefort 10,Brasserie de Rochefort,4.339401,4.418664,4.344931,4.430876,4.543548,11.3
21,141,22,new_user,5.048580,Hennepin (Farmhouse Saison),Brewery Ommegang,4.250000,4.076902,4.237138,4.127814,4.218917,7.7
22,1545,23,new_user,4.991763,Trappist Westvleteren 12,Brouwerij Westvleteren (Sint-Sixtusabdij van W...,4.617925,4.583333,4.454009,4.633255,4.718553,10.2
23,1160,24,new_user,4.975082,Stone Imperial Russian Stout,Stone Brewing Co.,4.244311,4.289824,4.403821,4.384714,4.451911,10.5
24,54904,25,new_user,4.973711,Samuel Adams Noble Pils,Boston Beer Company (Samuel Adams),4.124626,3.794910,3.891841,3.877994,3.941243,4.9

In [62]:
recommend3B = model3.recommend(['new_user2'], new_observation_data = user2_info, k=25)
recommend3B.print_rows(25)

+--------------------+-------------+---------------+------+
| review_profilename | beer_beerid |     score     | rank |
+--------------------+-------------+---------------+------+
|     new_user2      |     3158    |  5.5154864236 |  1   |
|     new_user2      |      92     | 5.35012191974 |  2   |
|     new_user2      |     731     | 5.34747571193 |  3   |
|     new_user2      |     104     | 5.28225380622 |  4   |
|     new_user2      |     695     | 5.22315556251 |  5   |
|     new_user2      |     1093    | 5.20636386119 |  6   |
|     new_user2      |    16074    | 5.18334192478 |  7   |
|     new_user2      |      34     | 5.17069274627 |  8   |
|     new_user2      |    15881    | 5.15292233669 |  9   |
|     new_user2      |     276     | 5.14743215286 |  10  |
|     new_user2      |     412     | 5.13241380893 |  11  |
|     new_user2      |     131     | 5.10829359733 |  12  |
|     new_user2      |     224     |  5.1037619754 |  13  |
|     new_user2      |     2093    | 5.09057563983 |  14  |
|     new_user2      |     7971    | 5.08796102249 |  15  |
|     new_user2      |     1708    | 5.07119757377 |  16  |
|     new_user2      |     2512    | 5.07078737461 |  17  |
|     new_user2      |      88     | 5.07005447589 |  18  |
|     new_user2      |     1010    | 5.06433064186 |  19  |
|     new_user2      |     355     | 5.05971616947 |  20  |
|     new_user2      |     645     | 5.05336481773 |  21  |
|     new_user2      |     141     | 5.04857987606 |  22  |
|     new_user2      |     1545    | 4.99176258289 |  23  |
|     new_user2      |     1160    |  4.975081627  |  24  |
|     new_user2      |    54904    | 4.97371095859 |  25  |
+--------------------+-------------+---------------+------+
[25 rows x 4 columns]

In [63]:
recommend3B_df = pd.DataFrame(recommend3B)
recommend3B_df['beer_beerid'] = [int(x) for x in recommend3B_df['beer_beerid']]
recommend3B_df = findBeers(recommend3B_df)
recommend3B_df

,beer_beerid,rank,review_profilename,score,beer_name,brewery_name,review_overall,review_aroma,review_appearance,review_palate,review_taste,beer_abv
0,3158,1,new_user2,5.515486,Hop Rod Rye,Bear Republic Brewing Co.,4.217459,4.209880,4.295609,4.225823,4.342394,8.0
1,92,2,new_user2,5.350122,Arrogant Bastard Ale,Stone Brewing Co.,4.078402,4.119268,4.296413,4.143121,4.278846,7.2
2,731,3,new_user2,5.347476,Weihenstephaner Hefeweissbier,Bayerische Staatsbrauerei Weihenstephan,4.515901,4.296315,4.380363,4.283190,4.425038,5.4
3,104,4,new_user2,5.282254,Samuel Adams Boston Lager,Boston Beer Company (Samuel Adams),4.044251,3.663358,3.886476,3.774194,3.872415,4.9
4,695,5,new_user2,5.223156,Duvel,Brouwerij Duvel Moortgat NV,4.342245,4.151224,4.512857,4.257347,4.329592,8.5
5,1093,6,new_user2,5.206364,Two Hearted Ale,"Bell's Brewery, Inc.",4.329729,4.266496,4.153959,4.138746,4.318915,7.0
6,16074,7,new_user2,5.183342,Founders Red's Rye PA,Founders Brewing Company,4.208541,4.166548,4.186477,4.105338,4.257651,6.6
7,34,8,new_user2,5.170693,La Fin Du Monde,Unibroue,4.298027,4.231977,4.193919,4.264398,4.396093,9.0
8,15881,9,new_user2,5.152922,Tröegs Nugget Nectar,Tröegs Brewing Company,4.395652,4.371100,4.212276,4.198210,4.413555,7.5
9,276,10,new_user2,5.147432,Sierra Nevada Pale Ale,Sierra Nevada Brewing Co.,4.245845,3.915539,3.995168,3.966950,4.115385,5.6
10,412,11,new_user2,5.132414,Old Rasputin Russian Imperial Stout,North Coast Brewing Co.,4.174221,4.198650,4.373995,4.231758,4.342173,9.0
11,131,12,new_user2,5.108294,Ayinger Celebrator Doppelbock,Privatbrauerei Franz Inselkammer KG / Brauerei...,4.299275,4.244203,4.253865,4.304348,4.428502,6.7
12,224,13,new_user2,5.103762,Schneider Aventinus,Weisses Bräuhaus G. Schneider & Sohn GmbH,4.234334,4.269352,4.178515,4.195366,4.388362,8.2
13,2093,14,new_user2,5.090576,90 Minute IPA,Dogfish Head Brewery,4.145745,4.213526,4.192097,4.181763,4.325988,9.0
14,7971,15,new_user2,5.087961,Pliny The Elder,Russian River Brewing Company,4.590028,4.612188,4.388603,4.451326,4.630985,8.0
15,1708,16,new_user2,5.071198,St. Bernardus Abt 12,Brouwerij St. Bernardus NV,4.327921,4.318448,4.362201,4.368290,4.487145,10.0
16,2512,17,new_user2,5.070787,Chimay Grande Réserve (Blue),Bières de Chimay S.A.,4.248631,4.196615,4.209059,4.242658,4.370582,9.0
17,88,18,new_user2,5.070054,Stone IPA (India Pale Ale),Stone Brewing Co.,4.257670,4.238641,4.135728,4.138252,4.297087,6.9
18,1010,19,new_user2,5.064331,Prima Pils,Victory Brewing Company,4.242083,3.938808,3.952764,4.011809,4.124799,5.3
19,355,20,new_user2,5.059716,Dead Guy Ale,Rogue Ales,4.044987,3.800806,3.892122,3.912936,4.023053,6.5
20,645,21,new_user2,5.053365,Trappistes Rochefort 10,Brasserie de Rochefort,4.339401,4.418664,4.344931,4.430876,4.543548,11.3
21,141,22,new_user2,5.048580,Hennepin (Farmhouse Saison),Brewery Ommegang,4.250000,4.076902,4.237138,4.127814,4.218917,7.7
22,1545,23,new_user2,4.991763,Trappist Westvleteren 12,Brouwerij Westvleteren (Sint-Sixtusabdij van W...,4.617925,4.583333,4.454009,4.633255,4.718553,10.2
23,1160,24,new_user2,4.975082,Stone Imperial Russian Stout,Stone Brewing Co.,4.244311,4.289824,4.403821,4.384714,4.451911,10.5
24,54904,25,new_user2,4.973711,Samuel Adams Noble Pils,Boston Beer Company (Samuel Adams),4.124626,3.794910,3.891841,3.877994,3.941243,4.9

## Popularity Recommender

In [64]:
model4 = tr.recommender.popularity_recommender.create(training_data, user_id='review_profilename', item_id='beer_beerid', target='review_overall')

Warning: Ignoring columns main_style;

    To use these columns in scoring predictions, use a model that allows the use of additional features.

Preparing data set.

    Data has 1578596 observations with 33340 users and 65965 items.

    Data prepared in: 4.97892s

1578596 observations to process; with 65965 unique items.

In [66]:
# Save model - load model
# model4.save('jupyter_folder/popularity.model')
model4 = tr.load_model('jupyter_folder/popularity.model')

In [67]:
model4.recommend()

recommendations finished on 1000/33340 queries. users per second: 2704.86

recommendations finished on 2000/33340 queries. users per second: 2807.91

recommendations finished on 3000/33340 queries. users per second: 2727.88

recommendations finished on 4000/33340 queries. users per second: 2691.6

recommendations finished on 5000/33340 queries. users per second: 2711.97

recommendations finished on 6000/33340 queries. users per second: 2712.67

recommendations finished on 7000/33340 queries. users per second: 2679.07

recommendations finished on 8000/33340 queries. users per second: 2650.44

recommendations finished on 9000/33340 queries. users per second: 2629.09

recommendations finished on 10000/33340 queries. users per second: 2633.78

recommendations finished on 11000/33340 queries. users per second: 2617.59

recommendations finished on 12000/33340 queries. users per second: 2609.36

recommendations finished on 13000/33340 queries. users per second: 2588.36

recommendations finished on 14000/33340 queries. users per second: 2568.02

recommendations finished on 15000/33340 queries. users per second: 2561.64

recommendations finished on 16000/33340 queries. users per second: 2545.41

recommendations finished on 17000/33340 queries. users per second: 2518.39

recommendations finished on 18000/33340 queries. users per second: 2519.85

recommendations finished on 19000/33340 queries. users per second: 2529.99

recommendations finished on 20000/33340 queries. users per second: 2542.92

recommendations finished on 21000/33340 queries. users per second: 2555.34

recommendations finished on 22000/33340 queries. users per second: 2567.32

recommendations finished on 23000/33340 queries. users per second: 2576.75

recommendations finished on 24000/33340 queries. users per second: 2589.13

recommendations finished on 25000/33340 queries. users per second: 2601.62

recommendations finished on 26000/33340 queries. users per second: 2608.08

recommendations finished on 27000/33340 queries. users per second: 2617.96

recommendations finished on 28000/33340 queries. users per second: 2628.92

recommendations finished on 29000/33340 queries. users per second: 2634.55

recommendations finished on 30000/33340 queries. users per second: 2637.71

recommendations finished on 31000/33340 queries. users per second: 2643.5

recommendations finished on 32000/33340 queries. users per second: 2645.63

recommendations finished on 33000/33340 queries. users per second: 2636.45

Columns:
	review_profilename	str
	beer_beerid	str
	score	float
	rank	int

Rows: 333400

Data:
+--------------------+-------------+-------+------+
| review_profilename | beer_beerid | score | rank |
+--------------------+-------------+-------+------+
|      stcules       |    75449    |  5.0  |  1   |
|      stcules       |    32306    |  5.0  |  2   |
|      stcules       |    66856    |  5.0  |  3   |
|      stcules       |    63467    |  5.0  |  4   |
|      stcules       |    63470    |  5.0  |  5   |
|      stcules       |    66430    |  5.0  |  6   |
|      stcules       |    65636    |  5.0  |  7   |
|      stcules       |    65568    |  5.0  |  8   |
|      stcules       |    63460    |  5.0  |  9   |
|      stcules       |    10793    |  5.0  |  10  |
+--------------------+-------------+-------+------+
[333400 rows x 4 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [68]:
model4.evaluate(validation_data)

Precision and recall summary statistics by cutoff
+--------+----------------+-------------+
| cutoff | mean_precision | mean_recall |
+--------+----------------+-------------+
|   1    |      0.0       |     0.0     |
|   2    |      0.0       |     0.0     |
|   3    |      0.0       |     0.0     |
|   4    |      0.0       |     0.0     |
|   5    |      0.0       |     0.0     |
|   6    |      0.0       |     0.0     |
|   7    |      0.0       |     0.0     |
|   8    |      0.0       |     0.0     |
|   9    |      0.0       |     0.0     |
|   10   |      0.0       |     0.0     |
+--------+----------------+-------------+
[10 rows x 3 columns]


Overall RMSE: 0.605737381657

Per User RMSE (best)
+--------------------+-------+------+
| review_profilename | count | rmse |
+--------------------+-------+------+
|      Futility      |   1   | 0.0  |
+--------------------+-------+------+
[1 rows x 3 columns]


Per User RMSE (worst)
+--------------------+-------+---------------+
| review_profilename | count |      rmse     |
+--------------------+-------+---------------+
|     shizzyraw      |   1   | 2.95131578947 |
+--------------------+-------+---------------+
[1 rows x 3 columns]


Per Item RMSE (best)
+-------------+-------+------+
| beer_beerid | count | rmse |
+-------------+-------+------+
|    68352    |   1   | 0.0  |
+-------------+-------+------+
[1 rows x 3 columns]


Per Item RMSE (worst)
+-------------+-------+---------------+
| beer_beerid | count |      rmse     |
+-------------+-------+---------------+
|    27366    |   1   | 3.03424657534 |
+-------------+-------+---------------+
[1 rows x 3 columns]

{'precision_recall_by_user': Columns:
 	review_profilename	str
 	cutoff	int
 	precision	float
 	recall	float
 	count	int

 Rows: 9144

 Data:
 +--------------------+--------+-----------+--------+-------+
 | review_profilename | cutoff | precision | recall | count |
 +--------------------+--------+-----------+--------+-------+
 |       hdofu        |   1    |    0.0    |  0.0   |   52  |
 |       hdofu        |   2    |    0.0    |  0.0   |   52  |
 |       hdofu        |   3    |    0.0    |  0.0   |   52  |
 |       hdofu        |   4    |    0.0    |  0.0   |   52  |
 |       hdofu        |   5    |    0.0    |  0.0   |   52  |
 |       hdofu        |   6    |    0.0    |  0.0   |   52  |
 |       hdofu        |   7    |    0.0    |  0.0   |   52  |
 |       hdofu        |   8    |    0.0    |  0.0   |   52  |
 |       hdofu        |   9    |    0.0    |  0.0   |   52  |
 |       hdofu        |   10   |    0.0    |  0.0   |   52  |
 +--------------------+--------+-----------+--------+-------+
 [9144 rows x 5 columns]
 Note: Only the head of the SFrame is printed.
 You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.,
 'precision_recall_overall': Columns:
 	cutoff	int
 	precision	float
 	recall	float

 Rows: 18

 Data:
 +--------+-----------+--------+
 | cutoff | precision | recall |
 +--------+-----------+--------+
 |   1    |    0.0    |  0.0   |
 |   2    |    0.0    |  0.0   |
 |   3    |    0.0    |  0.0   |
 |   4    |    0.0    |  0.0   |
 |   5    |    0.0    |  0.0   |
 |   6    |    0.0    |  0.0   |
 |   7    |    0.0    |  0.0   |
 |   8    |    0.0    |  0.0   |
 |   9    |    0.0    |  0.0   |
 |   10   |    0.0    |  0.0   |
 +--------+-----------+--------+
 [18 rows x 3 columns]
 Note: Only the head of the SFrame is printed.
 You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.,
 'rmse_by_item': Columns:
 	beer_beerid	str
 	count	int
 	rmse	float

 Rows: 4002

 Data:
 +-------------+-------+----------------+
 | beer_beerid | count |      rmse      |
 +-------------+-------+----------------+
 |     3006    |   1   |      0.5       |
 |     1484    |   1   | 0.103448275862 |
 |     1444    |   3   | 0.817818315577 |
 |    30282    |   8   | 0.496889018394 |
 |    59610    |   1   | 0.379310344828 |
 |     3952    |   1   | 0.141791044776 |
 |     2849    |   1   | 1.27659574468  |
 |    10286    |   1   | 0.482142857143 |
 |    37192    |   1   | 0.762195121951 |
 |     6006    |   1   | 0.333333333333 |
 +-------------+-------+----------------+
 [4002 rows x 3 columns]
 Note: Only the head of the SFrame is printed.
 You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.,
 'rmse_by_user': Columns:
 	review_profilename	str
 	count	int
 	rmse	float

 Rows: 508

 Data:
 +--------------------+-------+-----------------+
 | review_profilename | count |       rmse      |
 +--------------------+-------+-----------------+
 |  beerandcycling88  |   23  |  0.678599365616 |
 |      dgm6689       |   2   |  0.466824423496 |
 |       steevo       |   2   |  0.407881743414 |
 |     mgreenlaw      |   5   |  0.146545603073 |
 |   ReaquiredHabit   |   2   |  0.496911008585 |
 |    GlassFreeek     |   2   |  0.347479751124 |
 |     maltmelon      |   1   |  0.238879736409 |
 |   watermelonman    |   68  |  0.585224105265 |
 |      eljefe21      |   17  |  0.510348958281 |
 |      1santore      |   1   | 0.0839802399435 |
 +--------------------+-------+-----------------+
 [508 rows x 3 columns]
 Note: Only the head of the SFrame is printed.
 You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.,
 'rmse_overall': 0.6057373816574088}